html {
  height: 100%;
}

body,
html {
  background: #F7F7F7;
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100%;
  z-index: 1;
  position: relative;
  font-family: 'SF UI Text';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222d43;
  padding: 0;
  margin: 0;
}

p,
blockquote,
pre,
span,
strong,
strong,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
table,
tbody,
tfoot,
thead,
tr,
th,
td {
  color: #333;
  padding: 0;
  margin: 0;
}

img {
  -webkit-user-drag: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

strong {
  font-weight: bold;
}

button {
  outline: none;
}

input, select {
  color: #999999;
}

a {
  color: #222d43;
  cursor: pointer;
  text-decoration: none;
}

::-webkit-input-placeholder {
  color: #BDBDBD;
}

:-ms-input-placeholder {
  color: #BDBDBD;
}

::-ms-input-placeholder {
  color: #BDBDBD;
}

::placeholder {
  color: #BDBDBD;
}

.overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.vh-centered {
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
}

.v-centered {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
}

.h-centered {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
}

.clearfix:after {
  content: ' ';
  display: block;
  clear: both;
}

.eff01 {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.eff02 {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.eff03 {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.eff04 {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.eff05 {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.eff06 {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.eff07 {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.eff08 {
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.eff0 {
  -webkit-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.eff1 {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.input-wrap input {
  width: 100%;
  background: #FFFFFF;
  border: 1.4px solid #C1C1C1;
  border-radius: 4px;
  outline: none;
  padding: 21px 28px;
  font-weight: normal;
  font-size: 24px;
  line-height: 108.34%;
  color: #BDBDBD;
}

.inner-wrap {
  position: relative;
  max-width: 1390px;
  width: calc( 100% - 32px);
  margin: 0 auto;
}

.btn {
  border-radius: 9px;
  text-decoration: none;
  padding: 13px 16px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  background: #D12121;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.col-25 {
  float: left;
  width: calc( 25% - 12px);
  margin-right: 16px;
  margin-bottom: 16px;
}

.col-25:nth-child(4n+4) {
  margin-right: 0 !important;
}

.col-30 {
  float: left;
  width: calc( 33.3% - 16px);
  margin-right: 24px;
}

.col-30:nth-child(3n+3) {
  margin-right: 0 !important;
}

.col-50 {
  float: left;
  width: calc( 50% - 8px);
  margin-right: 16px;
  margin-bottom: 8px;
}

.col-50:nth-child(2n+2) {
  margin-right: 0 !important;
}

.col-60 {
  float: left;
  width: calc( 60% - 32px);
  margin-right: 32px !important;
}

.col-40 {
  float: left;
  width: calc( 40% - 0px);
}

.col-75 {
  float: left;
  width: calc( 75% - 8px);
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.hidden-b {
  overflow: hidden;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1000009;
}

.loading-overlay .loading-icon-wrap {
  width: 200px;
  text-align: center;
  letter-spacing: 2px;
  color: #FFF;
}

.loading-overlay .loading-icon-wrap img {
  width: 100%;
}

.drop-toggle.open .dropdown-wrap {
  opacity: 1;
  visibility: visible;
}

.my_mccount_dropdown {
  position: relative;
}

.my_mccount_dropdown > span {
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #D1D1D1;
  margin-bottom: 4px;
}

.my_mccount_dropdown > a {
  border: 0 !important;
  padding: 0;
}

.my_mccount_dropdown > a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f078";
  font-size: 15px;
  margin-left: 10px;
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #E0EF2E;
}

.my_mccount_dropdown .dropdown-wrap {
  padding: 0;
  left: initial;
  right: 0;
  margin-top: 24px;
}

.my_mccount_dropdown .dropdown-wrap .dropdown-m {
  background: #FFFFFF;
  border-top: solid 1px #F5F5F5;
  -webkit-box-shadow: 0px 20px 40px rgba(72, 72, 72, 0.1);
  box-shadow: 0px 20px 40px rgba(72, 72, 72, 0.1);
  border-radius: 6px;
  padding: 16px;
  display: block;
}

.my_mccount_dropdown .dropdown-wrap .dropdown-m li {
  padding: 4px 0;
  margin: 0;
}

.my_mccount_dropdown .dropdown-wrap .dropdown-m li a {
  display: block;
  padding: 4px 10px;
  font-size: 14px;
  color: #484848;
  border: 0;
}

.my_mccount_dropdown .dropdown-wrap .dropdown-m li a:hover {
  color: #D12121 !important;
}

.dropdown-wrap.dropdown-toggle {
  position: absolute;
  min-width: 160px;
  top: 100%;
  right: 0px;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  cursor: auto;
}

.drop-toggle.open > a::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.drop-toggle.open .dropdown-wrap {
  margin-top: 12px;
  opacity: 1;
  visibility: visible;
}

header {
  height: 90px;
  background: #D12121;
}

header .inner-wrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .m-lines {
  position: relative;
  cursor: pointer;
  z-index: 1001;
}

header .m-lines.open > div > div.two {
  opacity: 0;
}

header .m-lines.open > div > div.one {
  -webkit-transform: rotate(45deg) translate(8px, 9px);
  transform: rotate(45deg) translate(8px, 9px);
  background-color: #fff;
  width: 40px;
}

header .m-lines.open > div > div.three {
  -webkit-transform: rotate(-45deg) translate(8px, -10px);
  transform: rotate(-45deg) translate(8px, -10px);
  background-color: #fff;
  width: 40px;
}

header .m-lines > div > div {
  width: 40px;
  height: 3px;
  background: #fff;
  border-radius: 1px;
  margin: 10px auto;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .menu .search {
  width: 100%;
  max-width: 588px;
}

header .menu .search .input-wrap {
  position: relative;
  background: #FFFFFF;
  border-radius: 6px;
}

header .menu .search .input-wrap input {
  width: 100%;
  background: transparent;
  border: 0;
  padding: 14px 12px;
  font-weight: 500;
  font-size: 18px;
  color: #888888;
  outline: none;
}

header .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .menu ul li {
  list-style: none;
  margin-left: 50px;
}

header .menu ul li:nth-child(1) {
  margin: 0;
}

header .menu ul li a {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 18px;
  color: #FFFFFF;
}

header .menu ul li i {
  margin-left: 9px;
  font-size: 20px;
  color: #E0EF2E;
  vertical-align: middle;
}

main {
  width: 100%;
  min-height: calc(100vh - 433px);
  display: inline-block;
}

main.min150 {
  min-height: calc(100vh - 153px);
}

main section.welcome_wrap {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 158px 0 198px;
}

main section.welcome_wrap.text-left .inner-wrap h1 {
  max-width: 460px;
  margin: 0;
  text-align: left;
  color: #FFFFFF;
}

main section.welcome_wrap .inner-wrap {
  text-align: center;
}

main section.welcome_wrap .inner-wrap h1 {
  max-width: 480px;
  margin: auto;
  font-weight: bold;
  font-size: 78px;
  line-height: 94.84%;
  color: #D12121;
}

main section.welcome_wrap .inner-wrap p {
  margin-top: 22px;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 0.025em;
  color: #313131;
}

main section.top_slider {
  padding: 42px 0 38px;
  background: #E9E9E9;
  border-top: 9px solid #D12121;
  border-bottom: 9px solid #D12121;
}

main section.top_slider .inner-wrap .slider .item img {
  width: 100%;
  border-radius: 3px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

main section.top_slider .inner-wrap .slider .item span {
  margin-top: 21px;
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  line-height: 96.84%;
  color: #303030;
}

main section.top_slider .inner-wrap .slider .owl-nav .owl-prev {
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
}

main section.top_slider .inner-wrap .slider .owl-nav .owl-next {
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
}

main section.product_wrap {
  padding-top: 93px;
}

main section.product_wrap.back-silver {
  background: #EFEFEF;
}

main section.product_wrap.pb0 {
  padding-bottom: 0;
}

main section.product_wrap .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 48px;
}

main section.product_wrap .title h1 {
  font-weight: 500;
  font-size: 40px;
  color: #D12121;
}

main section.product_wrap .title a {
  margin-left: 20px;
  font-weight: 500;
  font-size: 24px;
  color: #3F68B7;
}

main section.product_wrap .title a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  color: #3F68B7;
  font-size: 22px;
  margin-left: 6px;
  vertical-align: middle;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

main section.product_wrap .item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main section.product_wrap .item-wrap.slider {
  display: block;
}

main section.product_wrap .item-wrap.slider .item {
  margin-bottom: 0;
}

main section.product_wrap .item-wrap .item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  margin-bottom: 60px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
}

main section.product_wrap .item-wrap .item .img {
  width: 100%;
  height: 264px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
}

main section.product_wrap .item-wrap .item .img img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

main section.product_wrap .item-wrap .owl-nav {
  position: absolute;
  top: -75px;
  right: 0;
}

main section.product_wrap .item-wrap .owl-nav button {
  border: 3px solid #BA3A3A;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #3F68B7;
  margin-left: 16px;
  font-size: 30px;
}

main section.grid-layout {
  padding-top: 92px;
}

main section.grid-layout .inner-wrap .title {
  font-weight: bold;
  font-size: 50px;
  color: #D12121;
}

main section.grid-layout .inner-wrap .item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 42px;
}

main section.grid-layout .inner-wrap .item-wrap .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 655px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

main section.grid-layout .inner-wrap .item-wrap .item.image2 {
  margin: 0 24px;
}

main section.grid-layout .inner-wrap .item-wrap .item a {
  position: absolute;
  left: 22px;
  top: 22px;
  max-width: calc(100% - 44px);
  background: #262626;
  padding: 7px 14px;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  color: #FFFFFF;
}

main section.grid-layout .inner-wrap .item-wrap .item .img {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 40px;
}

main section.grid-layout .inner-wrap .item-wrap .item .img:last-child {
  margin: 0;
}

main section.grid-layout .inner-wrap .item-wrap .item .img:last-child a {
  bottom: 22px;
  top: initial;
}

main section.back_home {
  display: inline-block;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  right: -44px;
  z-index: 1;
  display: none;
}

main section.back_home a {
  padding: 20px 18px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 0.124em;
  color: #FFFFFF;
  background: #365696;
  border-radius: 0 0 5px 5px;
}

main section.customerTestimonials {
  margin-top: 70px;
}

main section.customerTestimonials.testimonials_page {
  margin-bottom: 82px;
  margin-top: 38px;
}

main section.customerTestimonials.testimonials_page .inner-wrap .title {
  border: 0;
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  color: #D12121;
}

main section.customerTestimonials.testimonials_page .inner-wrap h2 {
  font-weight: normal;
  font-size: 35px;
  line-height: 42px;
  color: #6F6F6F;
}

main section.customerTestimonials.testimonials_page .inner-wrap .item-wrap {
  margin-top: 150px;
}

main section.customerTestimonials .inner-wrap .title {
  border-bottom: 1px solid #B6B6B6;
  padding-bottom: 24px;
  font-style: italic;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;
  color: #D12121;
}

main section.customerTestimonials .inner-wrap .item-wrap {
  margin-top: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main section.customerTestimonials .inner-wrap .item-wrap .item {
  margin-right: 90px;
  margin-bottom: 130px;
  padding: 32px;
  width: calc( 33.3% - 60px);
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

main section.customerTestimonials .inner-wrap .item-wrap .item:nth-child(3n+3) {
  margin-right: 0;
}

main section.customerTestimonials .inner-wrap .item-wrap .item .img {
  width: 134px;
  height: 134px;
  margin-top: -97px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main section.customerTestimonials .inner-wrap .item-wrap .item h1 {
  margin-top: 18px;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: #000000;
}

main section.customerTestimonials .inner-wrap .item-wrap .item span {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

main section.customerTestimonials .inner-wrap .item-wrap .item .reviews {
  margin-top: 14px;
}

main section.customerTestimonials .inner-wrap .item-wrap .item .reviews .stars.st_0 i {
  color: #DEDEDE;
}

main section.customerTestimonials .inner-wrap .item-wrap .item .reviews .stars.st_1 i {
  color: #DEDEDE;
}

main section.customerTestimonials .inner-wrap .item-wrap .item .reviews .stars.st_1 i:nth-child(1) {
  color: #FF8A00;
}

main section.customerTestimonials .inner-wrap .item-wrap .item .reviews .stars.st_2 i {
  color: #DEDEDE;
}

main section.customerTestimonials .inner-wrap .item-wrap .item .reviews .stars.st_2 i:nth-child(1), main section.customerTestimonials .inner-wrap .item-wrap .item .reviews .stars.st_2 i:nth-child(2) {
  color: #FF8A00;
}

main section.customerTestimonials .inner-wrap .item-wrap .item .reviews .stars.st_3 i {
  color: #DEDEDE;
}

main section.customerTestimonials .inner-wrap .item-wrap .item .reviews .stars.st_3 i:nth-child(1), main section.customerTestimonials .inner-wrap .item-wrap .item .reviews .stars.st_3 i:nth-child(2), main section.customerTestimonials .inner-wrap .item-wrap .item .reviews .stars.st_3 i:nth-child(3) {
  color: #FF8A00;
}

main section.customerTestimonials .inner-wrap .item-wrap .item .reviews .stars.st_4 i {
  color: #DEDEDE;
}

main section.customerTestimonials .inner-wrap .item-wrap .item .reviews .stars.st_4 i:nth-child(1), main section.customerTestimonials .inner-wrap .item-wrap .item .reviews .stars.st_4 i:nth-child(2), main section.customerTestimonials .inner-wrap .item-wrap .item .reviews .stars.st_4 i:nth-child(3), main section.customerTestimonials .inner-wrap .item-wrap .item .reviews .stars.st_4 i:nth-child(4) {
  color: #FF8A00;
}

main section.customerTestimonials .inner-wrap .item-wrap .item .reviews .stars.st_5 i {
  color: #FF8A00;
}

main section.customerTestimonials .inner-wrap .item-wrap .item h2 {
  margin-top: 18px;
  font-weight: normal;
  font-size: 27px;
  line-height: 32px;
  color: #000000;
}

main section.customerTestimonials .inner-wrap .item-wrap .item p {
  margin-top: 6px;
  font-weight: normal;
  font-size: 18px;
  line-height: 137.84%;
  color: #000000;
}

main section.customerTestimonials .inner-wrap .btn {
  margin: -56px auto 0;
  display: block;
  width: 100%;
  max-width: 350px;
  border: 0;
  background: #365696;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 20px 16px;
}

main section.brands {
  padding: 76px 0 62px;
}

main section.brands .inner-wrap .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.brands .inner-wrap .title h1 {
  font-weight: 500;
  font-size: 40px;
  color: #D12121;
}

main section.brands .inner-wrap .title a {
  margin-left: 20px;
  font-weight: 500;
  font-size: 24px;
  color: #3F68B7;
}

main section.brands .inner-wrap .title a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  color: #3F68B7;
  font-size: 22px;
  margin-left: 6px;
  vertical-align: middle;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

main section.brands .inner-wrap .item-wrap {
  margin-top: 90px;
}

main section.brands .inner-wrap .item-wrap .item img {
  max-width: 144px;
}

main section.breadcrumb {
  margin: 42px 0 38px;
}

main section.breadcrumb ul {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section.breadcrumb ul li {
  list-style: none;
}

main section.breadcrumb ul li:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
  color: #7D7D7D;
  font-size: 16px;
  margin: 0 12px;
}

main section.breadcrumb ul li:last-child a {
  color: #7D7D7D;
}

main section.breadcrumb ul li:last-child:after {
  content: "";
}

main section.breadcrumb ul li a {
  font-weight: 500;
  font-size: 21px;
  color: #404040;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

main section.breadcrumb ul li a:hover {
  color: #D12121;
}

main section.signin {
  padding-bottom: 140px;
}

main section.signin .inner-wrap h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #D12121;
}

main section.signin .inner-wrap .signin-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 36px;
}

main section.signin .inner-wrap .signin-wrap .left-wrap {
  margin-right: 64px;
  padding: 40px 38px 64px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

main section.signin .inner-wrap .signin-wrap .left-wrap h1 {
  font-weight: 500;
  font-size: 38px;
  line-height: 45px;
  color: #545454;
}

main section.signin .inner-wrap .signin-wrap .left-wrap .input-wrap {
  margin-top: 26px;
}

main section.signin .inner-wrap .signin-wrap .left-wrap .forgot_pass {
  margin-top: 13px;
  font-weight: normal;
  display: block;
  font-size: 22px;
  line-height: 26px;
  color: #3F68B7;
}

main section.signin .inner-wrap .signin-wrap .left-wrap .btn {
  border: 0;
  padding: 19px 93px;
  margin-top: 13px;
  background: #365796;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.13);
  border-radius: 8px;
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
  text-transform: capitalize;
}

main section.signin .inner-wrap .signin-wrap .right-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 64px;
  padding: 40px 38px 64px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

main section.signin .inner-wrap .signin-wrap .right-wrap h1 {
  font-weight: 500;
  font-size: 38px;
  line-height: 45px;
  color: #545454;
}

main section.signin .inner-wrap .signin-wrap .right-wrap p {
  margin-top: 19px;
  max-width: 404px;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #585858;
}

main section.signin .inner-wrap .signin-wrap .right-wrap .btn {
  border: 0;
  padding: 19px 93px;
  margin-top: 67px;
  background: #365796;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.13);
  display: inline-block;
  border-radius: 8px;
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
  text-transform: capitalize;
}

main section.Sign-Up {
  margin-bottom: 100px;
}

main section.Sign-Up .inner-wrap h1 {
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #D12121;
}

main section.Sign-Up .inner-wrap .Sign-Up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 82px;
}

main section.Sign-Up .inner-wrap .Sign-Up .left-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main section.Sign-Up .inner-wrap .Sign-Up .left-wrap h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #686868;
}

main section.Sign-Up .inner-wrap .Sign-Up .left-wrap .input-wrap {
  margin-top: 26px;
}

main section.Sign-Up .inner-wrap .Sign-Up .left-wrap .btn {
  margin-top: 40px;
  border: 0;
  padding: 16px 42px;
  font-weight: bold;
  font-size: 24px;
  line-height: 79.84%;
  color: #FFFFFF;
  background: #365796;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.13);
  border-radius: 8px;
  text-transform: capitalize;
}

main section.Sign-Up .inner-wrap .Sign-Up .right-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 300px;
}

main section.Sign-Up .inner-wrap .Sign-Up .right-wrap p {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #2B2B2B;
}

main section.Sign-Up .inner-wrap .Sign-Up .right-wrap .list {
  margin-top: 24px;
}

main section.Sign-Up .inner-wrap .Sign-Up .right-wrap .list p {
  position: relative;
  text-transform: uppercase;
  padding-left: 16px;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #2B2B2B;
}

main section.Sign-Up .inner-wrap .Sign-Up .right-wrap .list p::before {
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #000000;
}

main section.Sign-Up .inner-wrap .Sign-Up .right-wrap .SignIn {
  text-align: right;
  margin-top: 80px;
}

main section.Sign-Up .inner-wrap .Sign-Up .right-wrap .SignIn span {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #717171;
}

main section.Sign-Up .inner-wrap .Sign-Up .right-wrap .SignIn .btn {
  background: transparent;
  text-transform: capitalize;
  margin-left: 26px;
  padding: 14px 30px;
  border: 2px solid #365696;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-weight: bold;
  font-size: 24px;
  color: #464646;
}

main section.Reset-Password {
  margin-bottom: 120px;
}

main section.Reset-Password .inner-wrap {
  text-align: center;
  max-width: 792px;
}

main section.Reset-Password .inner-wrap h1 {
  font-weight: 300;
  font-size: 58px;
  line-height: 119.34%;
  color: #494949;
}

main section.Reset-Password .inner-wrap p {
  margin-top: 24px;
  font-weight: normal;
  font-size: 30px;
  line-height: 79.84%;
  color: #757575;
}

main section.Reset-Password .inner-wrap .input-wrap {
  margin-top: 36px;
}

main section.Reset-Password .inner-wrap .input-wrap input {
  border: 1px solid #000000;
}

main section.Reset-Password .inner-wrap .btn {
  margin-top: 68px;
  border: 0;
  padding: 16px 42px;
  font-weight: bold;
  font-size: 24px;
  line-height: 79.84%;
  color: #FFFFFF;
  background: #365796;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.13);
  border-radius: 8px;
  text-transform: capitalize;
}

main section.privacyPolicyTermsOfUs .inner-wrap h1 {
  font-weight: bold;
  font-size: 35px;
  line-height: 136.84%;
  color: #000000;
  margin-bottom: 30px;
}

main section.privacyPolicyTermsOfUs .inner-wrap p {
  font-weight: normal;
  font-size: 21px;
  line-height: 158.34%;
  color: #565656;
  margin-bottom: 32px;
}

main section.privacyPolicyTermsOfUs .inner-wrap p.blod {
  font-weight: bold;
}

main section.privacyPolicyTermsOfUs .inner-wrap p a {
  color: #3F68B7;
}

main section.privacyPolicyTermsOfUs .inner-wrap h2 {
  margin-bottom: 24px;
  font-weight: normal;
  font-size: 35px;
  line-height: 136.84%;
  color: #000000;
}

main section.review {
  margin-bottom: 8px;
}

main section.review .top-wrap {
  padding-bottom: 100px;
}

main section.review .top-wrap .inner-wrap .left-wrap {
  float: left;
  width: 75%;
  padding-right: 80px;
}

main section.review .top-wrap .inner-wrap .left-wrap .text h1 {
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  color: #D12121;
}

main section.review .top-wrap .inner-wrap .left-wrap .text p {
  margin-top: 48px;
  font-weight: normal;
  font-size: 23px;
  line-height: 144.84%;
  color: #000000;
}

main section.review .top-wrap .inner-wrap .left-wrap .slider {
  margin-top: 72px;
}

main section.review .top-wrap .inner-wrap .left-wrap .slider .owl-stage-outer {
  padding-bottom: 12px;
}

main section.review .top-wrap .inner-wrap .left-wrap .slider .owl-stage-outer .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section.review .top-wrap .inner-wrap .left-wrap .slider .owl-stage-outer .owl-item {
  float: none;
  margin: 4px;
}

main section.review .top-wrap .inner-wrap .left-wrap .slider .owl-nav img {
  width: 16px;
}

main section.review .top-wrap .inner-wrap .left-wrap .slider .owl-nav .owl-prev {
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
}

main section.review .top-wrap .inner-wrap .left-wrap .slider .owl-nav .owl-next {
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
}

main section.review .top-wrap .inner-wrap .left-wrap .slider .item-wrap {
  padding: 0 40px;
}

main section.review .top-wrap .inner-wrap .left-wrap .slider .item-wrap .item {
  padding: 20px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  height: 100%;
}

main section.review .top-wrap .inner-wrap .left-wrap .slider .item-wrap .item .img {
  text-align: center;
}

main section.review .top-wrap .inner-wrap .left-wrap .slider .item-wrap .item .img img {
  max-width: 180px;
  display: block;
  margin: auto;
}

main section.review .top-wrap .inner-wrap .left-wrap .slider .item-wrap .item .btn {
  margin-top: 16px;
  border: 0;
  padding: 10px 16px;
  width: 100%;
  background: #EDEDED;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  color: #474747;
}

main section.review .top-wrap .inner-wrap .left-wrap .slider .item-wrap .item h1 {
  margin-top: 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 108.84%;
  color: #000000;
}

main section.review .top-wrap .inner-wrap .left-wrap .slider .item-wrap .item .price {
  margin-top: 20px;
  font-weight: 600;
  font-size: 20px;
  color: #D12121;
}

main section.review .top-wrap .inner-wrap .left-wrap .slider .item-wrap .item .reviews {
  margin-top: 14px;
}

main section.review .top-wrap .inner-wrap .left-wrap .slider .item-wrap .item .reviews .stars.st_0 i {
  color: #DEDEDE;
}

main section.review .top-wrap .inner-wrap .left-wrap .slider .item-wrap .item .reviews .stars.st_1 i {
  color: #DEDEDE;
}

main section.review .top-wrap .inner-wrap .left-wrap .slider .item-wrap .item .reviews .stars.st_1 i:nth-child(1) {
  color: #FF8A00;
}

main section.review .top-wrap .inner-wrap .left-wrap .slider .item-wrap .item .reviews .stars.st_2 i {
  color: #DEDEDE;
}

main section.review .top-wrap .inner-wrap .left-wrap .slider .item-wrap .item .reviews .stars.st_2 i:nth-child(1), main section.review .top-wrap .inner-wrap .left-wrap .slider .item-wrap .item .reviews .stars.st_2 i:nth-child(2) {
  color: #FF8A00;
}

main section.review .top-wrap .inner-wrap .left-wrap .slider .item-wrap .item .reviews .stars.st_3 i {
  color: #DEDEDE;
}

main section.review .top-wrap .inner-wrap .left-wrap .slider .item-wrap .item .reviews .stars.st_3 i:nth-child(1), main section.review .top-wrap .inner-wrap .left-wrap .slider .item-wrap .item .reviews .stars.st_3 i:nth-child(2), main section.review .top-wrap .inner-wrap .left-wrap .slider .item-wrap .item .reviews .stars.st_3 i:nth-child(3) {
  color: #FF8A00;
}

main section.review .top-wrap .inner-wrap .left-wrap .slider .item-wrap .item .reviews .stars.st_4 i {
  color: #DEDEDE;
}

main section.review .top-wrap .inner-wrap .left-wrap .slider .item-wrap .item .reviews .stars.st_4 i:nth-child(1), main section.review .top-wrap .inner-wrap .left-wrap .slider .item-wrap .item .reviews .stars.st_4 i:nth-child(2), main section.review .top-wrap .inner-wrap .left-wrap .slider .item-wrap .item .reviews .stars.st_4 i:nth-child(3), main section.review .top-wrap .inner-wrap .left-wrap .slider .item-wrap .item .reviews .stars.st_4 i:nth-child(4) {
  color: #FF8A00;
}

main section.review .top-wrap .inner-wrap .left-wrap .slider .item-wrap .item .reviews .stars.st_5 i {
  color: #FF8A00;
}

main section.review .top-wrap .inner-wrap .left-wrap .slider .item-wrap .item p {
  margin-top: 20px;
  font-weight: normal;
  font-size: 14px;
  line-height: 108.84%;
  color: #000000;
}

main section.review .top-wrap .inner-wrap .right-wrap {
  float: left;
  width: 25%;
}

main section.review .top-wrap .inner-wrap .right-wrap h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #D12121;
}

main section.review .top-wrap .inner-wrap .right-wrap .item-wrap {
  margin-top: 16px;
}

main section.review .top-wrap .inner-wrap .right-wrap .item-wrap .item {
  margin-bottom: 32px;
}

main section.review .top-wrap .inner-wrap .right-wrap .item-wrap .item .img {
  padding: 16px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

main section.review .top-wrap .inner-wrap .right-wrap .item-wrap .item .img img {
  margin: 42px auto 72px;
  display: block;
  max-width: 120px;
  width: 100%;
}

main section.review .top-wrap .inner-wrap .right-wrap .item-wrap .item .img a {
  display: inline-block;
  padding: 8px 14px;
  background: #262626;
  font-weight: bold;
  font-size: 20px;
  color: #FFFFFF;
}

main section.review .top-wrap .inner-wrap .right-wrap .item-wrap .item h1 {
  margin-top: 16px;
  font-weight: 500;
  font-size: 29px;
  line-height: 35px;
  color: #D12121;
}

main section.review .top-wrap .inner-wrap .right-wrap .item-wrap .item .btn {
  border: 0;
  margin-top: 26px;
  background: #FFFFFF;
  padding: 12px 24px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-weight: bold;
  font-size: 18px;
  color: #424242;
}

main section.review .bottom-wrap .inner-wrap .item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main section.review .bottom-wrap .inner-wrap .item-wrap .item {
  width: calc( 50% - 67px);
  margin-right: 134px;
  margin-bottom: 74px;
}

main section.review .bottom-wrap .inner-wrap .item-wrap .item:nth-child(2n+2) {
  margin-right: 0 !important;
}

main section.review .bottom-wrap .inner-wrap .item-wrap .item .block {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 36px 32px;
}

main section.review .bottom-wrap .inner-wrap .item-wrap .item .block a {
  display: inline-block;
  padding: 12px 24px;
  background: #262626;
  font-weight: bold;
  font-size: 35px;
  color: #FFFFFF;
}

main section.review .bottom-wrap .inner-wrap .item-wrap .item .block img {
  max-width: 340px;
  display: block;
  margin: 24px auto 32px;
}

main section.review .bottom-wrap .inner-wrap .item-wrap .item .block h1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  color: #D12121;
}

main section.review .bottom-wrap .inner-wrap .item-wrap .item .btn {
  border: 0;
  display: block;
  margin: 40px auto 0;
  background: #FFFFFF;
  padding: 12px 24px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-weight: bold;
  font-size: 18px;
  color: #424242;
}

main section.my_account {
  margin-bottom: 127px;
}

main section.my_account .inner-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section.my_account .inner-wrap .left-wrap {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  margin-right: 220px;
}

main section.my_account .inner-wrap .left-wrap h1 {
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #D12121;
}

main section.my_account .inner-wrap .left-wrap p {
  margin-top: 44px;
  font-weight: normal;
  font-size: 20px;
  line-height: 108.34%;
  color: #000000;
}

main section.my_account .inner-wrap .left-wrap h2 {
  margin-top: 32px;
  max-width: 280px;
  font-weight: 600;
  font-size: 70px;
  line-height: 89.84%;
  letter-spacing: 0.025em;
  color: #D12121;
}

main section.my_account .inner-wrap .right-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main section.my_account .inner-wrap .right-wrap h1 {
  font-weight: 600;
  font-size: 24px;
  color: #333333;
}

main section.my_account .inner-wrap .right-wrap .setting-wrap {
  padding: 20px 0;
  margin: 18px 0 12px;
  border-bottom: 1px solid #B8B8B8;
  border-top: 1px solid #B8B8B8;
}

main section.my_account .inner-wrap .right-wrap .setting-wrap h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 108.34%;
  color: #333333;
  margin-bottom: 21px;
}

main section.my_account .inner-wrap .right-wrap .setting-wrap p {
  font-weight: normal;
  font-size: 20px;
  line-height: 108.34%;
  color: #333333;
}

main section.my_account .inner-wrap .right-wrap a {
  display: block;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #3F68B7;
}

main section.my_account .inner-wrap .right-wrap .btn {
  margin-top: 25px;
  border: 0;
  font-size: 24px;
  background: #365796;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.13);
  border-radius: 8px;
  padding: 18px 82px;
  text-transform: initial;
}

.back_silver {
  background: #F4F4F4;
}

.back_silver .product-comparison {
  width: 100%;
  display: inline-block;
  margin-bottom: 75px;
}

.back_silver .product-comparison .inner-wrap .title {
  font-weight: 600;
  font-size: 36px;
  line-height: 103.34%;
  color: #262626;
}

.back_silver .product-comparison .inner-wrap .product-wrap {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.back_silver .product-comparison .inner-wrap .product-wrap .left-wrap {
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
}

.back_silver .product-comparison .inner-wrap .product-wrap .left-wrap h1 {
  font-weight: normal;
  font-size: 35px;
  color: #333333;
}

.back_silver .product-comparison .inner-wrap .product-wrap .left-wrap ul {
  margin-top: 30px;
}

.back_silver .product-comparison .inner-wrap .product-wrap .left-wrap ul li {
  list-style: none;
}

.back_silver .product-comparison .inner-wrap .product-wrap .left-wrap ul li a {
  font-weight: 500;
  font-size: 24px;
  line-height: 55px;
  color: #3F68B7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.back_silver .product-comparison .inner-wrap .product-wrap .left-wrap ul li a:hover, .back_silver .product-comparison .inner-wrap .product-wrap .left-wrap ul li a.active {
  color: #D88335;
}

.back_silver .product-comparison .inner-wrap .product-wrap .left-wrap ul li a span {
  min-width: 60px;
  text-align: left;
  color: #4D4D4D;
}

.back_silver .product-comparison .inner-wrap .product-wrap .right-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 140px;
}

.back_silver .product-comparison .inner-wrap .product-wrap .right-wrap .item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.back_silver .product-comparison .inner-wrap .product-wrap .right-wrap .item-wrap .item {
  width: calc( 50% - 15px);
  margin-right: 30px;
  margin-bottom: 58px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
}

.back_silver .product-comparison .inner-wrap .product-wrap .right-wrap .item-wrap .item:nth-child(2n+2) {
  margin-right: 0 !important;
}

.back_silver .product-comparison .inner-wrap .product-wrap .right-wrap .item-wrap .item .top-wrap {
  position: relative;
  background: #E0E0E0;
  padding: 20px 60px 20px 20px;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 0.08em;
  border-radius: 11px 11px 0px 0px;
  color: #313131;
}

.back_silver .product-comparison .inner-wrap .product-wrap .right-wrap .item-wrap .item .top-wrap:after {
  content: "";
  width: 19px;
  height: 33px;
  background-image: url(../../img/nav3.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 24px;
  right: 22px;
}

.back_silver .product-comparison .inner-wrap .product-wrap .right-wrap .item-wrap .item .img {
  padding: 27px 20px 0px;
}

.back_silver .product-comparison .inner-wrap .product-wrap .right-wrap .item-wrap .item .img h1 {
  max-width: 110px;
  font-weight: bold;
  font-size: 18px;
  line-height: 108.84%;
  color: #000000;
}

.back_silver .product-comparison .inner-wrap .product-wrap .right-wrap .item-wrap .item .img img {
  margin: auto;
  display: block;
  max-width: 100%;
}

.back_silver .product-comparison .inner-wrap .product-wrap .right-wrap .item-wrap .item .description {
  margin-top: 8px;
  padding: 0px 20px 48px;
}

.back_silver .product-comparison .inner-wrap .product-wrap .right-wrap .item-wrap .item .description .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.back_silver .product-comparison .inner-wrap .product-wrap .right-wrap .item-wrap .item .description .price h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 227.34%;
  color: #D12121;
}

.back_silver .product-comparison .inner-wrap .product-wrap .right-wrap .item-wrap .item .description .price span {
  font-weight: bold;
  font-size: 23px;
  line-height: 27px;
  text-transform: capitalize;
  color: #1FAD9F;
}

.back_silver .product-comparison .inner-wrap .product-wrap .right-wrap .item-wrap .item .description .text h1 {
  margin-top: 30px;
  font-weight: bold;
  font-size: 18px;
  line-height: 108.84%;
  color: #000000;
}

.back_silver .product-comparison .inner-wrap .product-wrap .right-wrap .item-wrap .item .description .text h1:first-child {
  margin: 0;
}

.back_silver .product-comparison .inner-wrap .product-wrap .right-wrap .item-wrap .item .description .text p {
  margin-top: 18px;
  font-weight: normal;
  font-size: 15px;
  line-height: 142.34%;
  color: #000000;
}

.back_silver .product-comparison .inner-wrap .product-wrap .right-wrap .item-wrap .item .description .text .list p {
  position: relative;
  padding-left: 11px;
}

.back_silver .product-comparison .inner-wrap .product-wrap .right-wrap .item-wrap .item .description .text .list p::before {
  content: '';
  position: absolute;
  left: 0;
  top: 6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #000000;
}

.back_gradient {
  padding: 70px 0 74px;
  background: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), color-stop(89.51%, rgba(196, 196, 196, 0)));
  background: linear-gradient(180deg, #F7F7F7 0%, rgba(196, 196, 196, 0) 89.51%);
}

.back_gradient .image_right_text .inner-wrap > .title {
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: #353535;
}

.back_gradient .image_right_text .inner-wrap .left_right {
  margin-top: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.back_gradient .image_right_text .inner-wrap .left_right .left-wrap {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.back_gradient .image_right_text .inner-wrap .left_right .left-wrap .item {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.back_gradient .image_right_text .inner-wrap .left_right .left-wrap .item .img {
  width: 100%;
  max-width: 454px;
}

.back_gradient .image_right_text .inner-wrap .left_right .left-wrap .item .img img {
  width: 100%;
}

.back_gradient .image_right_text .inner-wrap .left_right .left-wrap .item .text {
  padding-left: 24px;
  padding-top: 16px;
}

.back_gradient .image_right_text .inner-wrap .left_right .left-wrap .item .text h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.back_gradient .image_right_text .inner-wrap .left_right .left-wrap .item .text a {
  display: block;
  margin-top: 30px;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: #D12121;
}

.back_gradient .image_right_text .inner-wrap .left_right .left-wrap .item .text p {
  margin-top: 6px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #9E9A9A;
}

.back_gradient .image_right_text .inner-wrap .left_right .right-wrap {
  padding-left: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.back_gradient .image_right_text .inner-wrap .left_right .right-wrap div h1 {
  font-weight: bold;
  font-size: 25px;
  line-height: 136.84%;
  letter-spacing: 0.15em;
  color: #D12121;
}

.back_gradient .image_right_text .inner-wrap .left_right .right-wrap div p {
  margin-top: 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 136.84%;
  letter-spacing: 0.15em;
  color: #000000;
}

.back_gradient .image_right_text .inner-wrap .left_right .right-wrap div a {
  display: block;
  margin-top: 34px;
  font-weight: bold;
  font-size: 25px;
  line-height: 136.84%;
  letter-spacing: 0.15em;
  color: #D12121;
}

.back_gradient .image_right_text .inner-wrap .left_right .right-wrap .btn {
  width: 100%;
  border: 0;
  margin-top: 32px;
  background: #D12121;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 20px 16px;
}

.back_gradient .image_right_text .inner-wrap .image-wrap {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.back_gradient .image_right_text .inner-wrap .image-wrap .img {
  width: calc( 50% - 115px);
  position: relative;
  margin-right: 115px;
  margin-bottom: 74px;
}

.back_gradient .image_right_text .inner-wrap .image-wrap .img:nth-child(2n+2) {
  margin-right: 0;
  margin-left: 115px;
}

.back_gradient .image_right_text .inner-wrap .image-wrap .img img {
  width: 100%;
}

.back_gradient .image_right_text .inner-wrap .image-wrap .img a {
  position: absolute;
  left: 22px;
  top: 22px;
  max-width: calc(100% - 44px);
  background: #262626;
  padding: 7px 14px;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  color: #FFFFFF;
}

.back_gradient .image_right_text .inner-wrap .image-wrap .btn {
  margin: auto;
  width: 100%;
  max-width: 465px;
  border: 0;
  margin-top: 32px;
  background: #D12121;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 20px 16px;
}

.contact {
  background: #E1E1E1;
}

.contact .inner-wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 24px 0;
}

.contact .inner-wrap h1 {
  font-weight: normal;
  font-size: 20px;
  color: #D12121;
}

.contact .inner-wrap a {
  font-weight: normal;
  font-size: 20px;
  line-height: 79.84%;
  color: #D12121;
}

.contact .inner-wrap a i {
  margin-right: 10px;
}

.setting .inner-wrap h1 {
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
  color: #252525;
}

.setting .inner-wrap .item-wrap {
  margin-top: 16px;
  margin-bottom: 138px;
  border: 1px solid #BBBBBB;
  border-radius: 6px;
  overflow: hidden;
}

.setting .inner-wrap .item-wrap .item {
  border-bottom: 1px solid #BBBBBB;
}

.setting .inner-wrap .item-wrap .item:last-child {
  border: 0;
}

.setting .inner-wrap .item-wrap .item .item_m {
  padding: 40px 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.setting .inner-wrap .item-wrap .item .edit-wrap {
  background: #E6E6E6;
  display: none;
}

.setting .inner-wrap .item-wrap .item .edit-wrap.edit_pass .item_m {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.setting .inner-wrap .item-wrap .item .edit-wrap.edit_pass .item_m .left {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.setting .inner-wrap .item-wrap .item .edit-wrap.edit_pass .item_m .left .input-wrap {
  margin-bottom: 18px;
}

.setting .inner-wrap .item-wrap .item .edit-wrap.edit_pass .item_m .left .input-wrap:first-child {
  margin-bottom: 53px;
}

.setting .inner-wrap .item-wrap .item .edit-wrap.edit_pass .item_m .left .input-wrap:last-child {
  margin: 0;
}

.setting .inner-wrap .item-wrap .item .edit-wrap .left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.setting .inner-wrap .item-wrap .item .edit-wrap .left span {
  width: 100%;
}

.setting .inner-wrap .item-wrap .item .edit-wrap .left .input-wrap input {
  padding: 15px 22px;
  font-weight: normal;
  font-size: 18px;
  color: #B8B8B8;
}

.setting .inner-wrap .item-wrap .item .edit-wrap .right {
  margin-left: 100px;
}

.setting .inner-wrap .item-wrap .item .edit-wrap .right .btn {
  padding: 12px 26px;
  font-weight: 500;
  font-size: 23px;
  color: #FFFFFF;
  border-radius: 6px;
  margin-left: 18px;
}

.setting .inner-wrap .item-wrap .item .edit-wrap .right .btn.save {
  background: #365696;
}

.setting .inner-wrap .item-wrap .item .edit-wrap .right .btn.cancel {
  background: #D12121;
}

.setting .inner-wrap .item-wrap .item .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.setting .inner-wrap .item-wrap .item .left h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  color: #3A3A3A;
  min-width: 110px;
}

.setting .inner-wrap .item-wrap .item .left span {
  font-weight: normal;
  font-size: 21px;
  color: #919191;
  margin-left: 48px;
}

.setting .inner-wrap .item-wrap .item .right .btn {
  font-weight: 500;
  font-size: 21px;
  color: #527BCE;
  background: transparent;
  border: 0;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  text-transform: capitalize;
}

footer .inner-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 64px 0 40px;
}

footer .inner-wrap .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 460px;
}

footer .inner-wrap .menu ul li {
  list-style: none;
  margin-right: 40px;
  margin-bottom: 24px;
}

footer .inner-wrap .menu ul li a {
  font-weight: 500;
  font-size: 25px;
  color: #D12121;
}

footer .inner-wrap .social-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .inner-wrap .social-links ul li {
  list-style: none;
}

footer .inner-wrap .social-links ul li a {
  color: #2F2D2D;
  font-size: 22px;
  margin-left: 32px;
}

footer .copyright {
  background: #252525;
  font-size: 18px;
  letter-spacing: 0.059em;
  color: #FFFFFF;
}

footer .copyright .inner-wrap {
  display: block;
  text-align: center;
  padding: 21px 0;
}

footer .copyright a {
  margin-left: 22px;
  font-size: 18px;
  letter-spacing: 0.059em;
  color: #FFFFFF;
}

.product_wrap .inner-wrap .item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product_wrap .inner-wrap .item-wrap .item {
  width: calc( 33.3% - 32px);
  margin-right: 48px;
  margin-top: 20px;
  margin-bottom: 100px;
}

.product_wrap .inner-wrap .item-wrap .item:nth-child(3n+3) {
  margin-right: 0;
}

.product_wrap .inner-wrap .item-wrap .item .img {
  height: 385px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product_wrap .inner-wrap .item-wrap .item .img a {
  margin: 24px;
  display: inline-block;
  padding: 8px 14px;
  background: #262626;
  font-weight: bold;
  font-size: 28px;
  line-height: 37px;
  color: #FFFFFF;
}

.product_wrap .inner-wrap .item-wrap .item h1 {
  margin-top: 26px;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}

.product_wrap .inner-wrap .btn {
  border: 0;
  padding: 13px 85px;
  margin: 0px auto 75px;
  display: block;
  background: #365696;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  font-weight: 600;
  font-size: 32px;
  line-height: 136.84%;
  color: #FFFFFF;
}

.search_page {
  margin-bottom: 80px;
}

.search_page .inner-wrap h1 {
  font-weight: normal;
  font-size: 47px;
  line-height: 108.84%;
  color: #D12121;
}

.search_page .inner-wrap .search-wrap .item {
  margin-top: 82px;
}

.search_page .inner-wrap .search-wrap .item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search_page .inner-wrap .search-wrap .item ul li {
  list-style: none;
  width: calc( 25% - 57px);
  margin-right: 57px;
  margin-bottom: 57px;
}

.search_page .inner-wrap .search-wrap .item ul li:nth-child(4n+4) {
  margin-right: 0;
}

.search_page .inner-wrap .search-wrap .item ul li .img {
  min-height: 288px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.search_page .inner-wrap .search-wrap .item ul li .img a {
  display: block;
  background: #262626;
  font-weight: bold;
  padding: 12px 24px;
  font-weight: bold;
  font-size: 22px;
  line-height: 29px;
  color: #FFFFFF;
}

.search_page .inner-wrap .search-wrap .item ul li h1 {
  margin-top: 25px;
  font-weight: 600;
  font-size: 35px;
  line-height: 42px;
  color: #000000;
}

.search_page .inner-wrap .search-wrap .item .btn {
  border: 0;
  margin-bottom: 24px;
  padding: 13px 85px;
  background: #365696;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  font-weight: 600;
  font-size: 32px;
  line-height: 136.84%;
  color: #FFFFFF;
}

.AllReviews .grid-layout:first-child {
  padding: 0;
}

.AllReviews .grid-layout:last-child {
  margin-bottom: 76px;
}

.AllReviews .btn {
  border: 0;
  padding: 13px 85px;
  margin: 0px auto 75px;
  display: block;
  background: #365696;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  font-weight: 600;
  font-size: 32px;
  line-height: 136.84%;
  color: #FFFFFF;
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
  background: #000000;
  display: none;
}

.popup.popup_menu .dialog {
  width: calc(100% - 32px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 200px;
  margin: 48px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (96px));
}

.popup.popup_menu .form-box {
  width: 100%;
  position: relative;
  z-index: 1;
}

.popup.popup_menu .form-box .form-box-wrap {
  background: #fff;
  border-radius: 6px;
  padding: 16px;
}

.popup.popup_menu .form-box .form-box-wrap ul.dropdown {
  opacity: 0;
  visibility: hidden;
  margin-top: 0px;
  height: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.popup.popup_menu .form-box .form-box-wrap ul.dropdown.open {
  opacity: 1;
  visibility: visible;
  margin-top: 10px;
  height: auto;
}

.popup.popup_menu .form-box .form-box-wrap ul li {
  list-style: none;
  margin-bottom: 10px;
}

.popup.popup_menu .form-box .form-box-wrap ul li:last-child {
  margin: 0;
}

.popup.popup_menu .form-box .form-box-wrap ul li a {
  display: block;
  font-weight: 500;
  font-size: 15px;
  color: #262626;
}

.popup.popup_menu .form-box .form-box-wrap ul li a:hover {
  color: #D12121;
}

.popup.popup_menu .form-box .form-box-wrap .bottom-wrap {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popup.popup_menu .form-box .form-box-wrap .bottom-wrap .left {
  font-weight: normal;
  font-size: 10px;
  line-height: 143.34%;
  color: #5B5B5B;
}

.popup.popup_menu .form-box .form-box-wrap .bottom-wrap .left a {
  color: #3f68b7;
}

.popup.popup_menu .form-box .form-box-wrap .bottom-wrap .right {
  cursor: pointer;
}

.popup.popup_menu .form-box .form-box-wrap .bottom-wrap .right.active {
  color: #D88335;
}

.popup.popup_menu .close-popup {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
/*# sourceMappingURL=main.css.map */